<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .card-img-top{
            height:200px;
            object-fit: cover;
            border-radius: 16px 16px 0 0 ;
        }
        .card{
            border-radius: 16px;
        }
    </style>
</head>
<body>
   <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h1 class="fw-bold fs-2">Registered Users</h1>
                <table class="table border mt-5">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        
                        <!-- <% results.map((result)=>{ %>

                      <tr>
                        <th scope="row"></th>
                        <td> <%= result.name %> </td>
                        <td><%= result.email %></td>
                        <td>
                            <a href="" class="link">edit</a>
                            <a href="" class="text-danger">Delete</a>
                        </td>
                      </tr>
                      <%})%> -->


                      <% for(let i=0; i < results.length; i++){ %>

                        <tr>
                          <th scope="row"><%= i+1 %></th>
                          <td> <%= results[i].name %> </td>
                          <td><%= results[i].email %></td>
                          <td>
                            <form action="/edit" method="post" class="d-inline">
                              <input type="hidden" name="email" value='<%= results[i].email %>'>
                              <button type="submit" class="text-primary btn d-inline">Edit</button>
                            </form>
                              <form action="/delete" method="post" class="d-inline">
                                  <input type="hidden" name="email" value='<%= results[i].email %>'>
                                  <button type="submit" class="text-danger btn d-inline">Delete</button>
                                </form>
                              
                          </td>
                        </tr>
                        <%}%>
                    </tbody>
                  </table>
                
            </div>
        </div>
   </div>
</body>
</html>